*{
  box-sizing: border-box;
}

body{
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg");
  padding: 20px 0px 0px;
  width: 70%;
  margin: auto;
  }

  .logo{
    width: 100px;
    line-height: 100px;
    vertical-align: middle;
  }

  .logotxt{
    display: inline-block;

  }


.white{
  color: white;
  font-size: 25px;
  height: 50px;
}

#special{
  background: orange;
  padding: 10px;
  border-radius: 50%;
}

.sfondo{
  width: auto;
  background: lightgrey;
  border: 1px solid black;
}

.grey{
  color: grey;
}

.sfondospeciale{
  background: white;
  border: 1px solid black;
}

em{
  color: white;
}

footer{
  color: white;
  text-align: center;
}
